	/* Style of the html, body tags and the container class */
  html, body, .container {
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #7ecbff 
  }
  /* canvas tag style by id */
  #renderCanvas {
    image-rendering: pixelated;
    display: block;
    max-width: 100%;
    width: 30%;
    height: 30%;
    touch-action: none;
  }